* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f6;
    user-select: none;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #04aa6d;
    padding: 15px 0;
}

h1 {
    color: #fff;
    text-align: center;
}

footer {
    background-color: #2D3748;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

fieldset {
    box-shadow: 0 0 4px 0.5px gray;
    border: none;
    border-radius: 5px;
}

/* ==================================================PAINEL PALAVRAS======================================== */
#painel-palavras {
    background-color: #fff;
    height: 280px;
    width: 450px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#mensagem-inicial {
    text-align: center;
    color: #04aa6d;
    font-size: 18px;
    padding: 0 15px;
    position: absolute;
    transition: opacity 2s;
}

#painel-palavras div {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 1s;
}

/* ==================================================PAINEL CENTRAL======================================== */

#painel-central {
    width: 450px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
    background-color: #fff;
}

#painel-central div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#painel-central div:first-child {
    justify-content: space-between;
}

#painel-central select {
    height: 40px;
    width: 100%;
    padding: 0 15px;
    font-size: 14px;
}

#output-tempo {
    font-weight: bold;
}

/* ==================================================BOTÕES======================================== */
button {
    height: 40px;
    width: 85px;
    color: #fff;
    background-color: #04aa6d;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

button:hover:not(:disabled) {
    background-color: #059761;
    cursor: pointer;
}

#botao-iniciar {
    background-color: #2196F3;
}

#botao-iniciar:hover {
    background-color: #197FD0;
}

button:disabled,
#botao-iniciar:disabled {
    background-color: #f4f4f6;
    color: #2D37484F;
    border: 1px solid #2D37484F;
}

#botao-inserir,
#botao-remover-selecionadas {
    display: none;
}

/* ==================================================PAINEL INFERIOR======================================== */
#painel-inferior {
    width: 450px;
    min-height: 184px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 1s;
    gap: 10px;
}

#painel-inferior-esquerdo {
    width: 60%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    position: relative;
}

#bloco-input-palavra,
#bloco-botoes-lista {
    display: flex;
    flex-direction: column;
    transition: opacity 1s;
}

#bloco-botoes-lista {
    align-items: flex-end;
    gap: 25px;
}

#painel-inferior label {
    margin-bottom: 5px;
    text-align: center;
}

#input-palavra {
    width: 100%;
}

#output-acertos {
    font-weight: bold;
    font-size: 18px;
    color: #059761;
    text-align: center;
    font-variant: small-caps;
    transition: opacity 2s;
    position: absolute;
    top: 55px;
    left: 0px;
    right: 0px;
    margin: 0 auto;
}

#painel-inferior-direito div:first-child {
    position: relative;
}

#lista-lembradas {
    width: 155px;
    overflow-y: auto;
}

#lista-substituta {
    visibility: hidden;
    height: 164px;
    border: 1px solid #999;
    width: 155px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;
    font-size: 13px;
    text-wrap: nowrap;
}

#lista-substituta output {
    line-height: 1.24em;
}

#lista-substituta[aria-disabled="true"] {
    border: 1px solid #ddd;
}

#lista-substituta[aria-disabled="false"]:hover {
    border: 1px solid #777;
}

/*===============================================MEDIA QUERIES=====================================*/
@media (max-width: 384px) {

    #painel-central select {
        padding-left: 1px;
        padding-right: 0;
    }

    #painel-inferior,
    #painel-central {
        padding: 10px;
    }
}

@media (min-width: 385px) and (max-width: 442px) {
    #painel-central select {
        padding: 0 2px;
    }
}

@media (max-width: 442px) {
    #output-acertos {
        font-size: 16px;
    }

    #bloco-botoes-lista {
        gap: 20px;
    }

    #painel-inferior label {
        font-size: 13px;
    }
}

@media (min-width: 443px) and (max-width: 483px) {

    #output-acertos {
        font-size: 17px;
    }

    #painel-inferior label {
        font-size: 14px;
    }
}

@media (max-width: 483px) {

    #painel-central,
    #painel-inferior,
    #painel-palavras {
        width: 98%;
    }

    #painel-central select,
    #painel-central label {
        font-size: 13px;
    }

    #lista-lembradas,
    #lista-substituta {
        width: 33vw;
    }

    #painel-inferior-esquerdo {
        gap: 15px;
    }

    #painel-inferior button {
        height: 35px;
    }
}