* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f4f4f6;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

header {
    background-color: #04aa6d;
    padding: 15px 0;
}

h1 {
    color: #fff;
    text-align: center;
}

footer {
    background-color: #2D3748;
    color: #fff;
    padding: 15px 0;
    text-align: center;
}

form {
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

fieldset {
    box-shadow: 0 0 4px 0.5px gray;
    border: none;
    border-radius: 5px;
}

#painel-palavras {
    background-color: #fff;
    height: 280px;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

#mensagem-inicial{
    text-align: center;
    color: #04aa6d;
    font-size: 18px;
    padding: 0 15px;
    position: absolute;
    transition: opacity 2s;    
}

#painel-palavras div {
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    opacity: 0;
    transition: opacity 1s;
}

button {
    height: 40px;
    width: 85px;
    color: #fff;
    background-color: #04aa6d;
    border: none;
    font-weight: bold;
    font-size: 14px;
    border-radius: 5px;
}

#botao-iniciar {
    background-color: #2196F3;
}

button:hover {
    background-color: #059761;
}

#botao-iniciar:hover {
    background-color: #197FD0;
}

button:disabled,
#botao-iniciar:disabled {
    background-color: #f4f4f6;
    color: #2D37484F;
    border: 1px solid #2D37484F;
}

select:not(#lista-lembradas) {
    height: 40px;
    padding: 0 15px;
    font-size: 14px;
}

#painel-central {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 10px 15px;
    background-color: #fff;
}

#painel-central div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

#painel-central div:first-child {
    justify-content: space-between;
}

#output-tempo {
    font-weight: bold;
}

#lista-lembradas {
    width: 120px;
    overflow-y: auto;
}

#painel-inferior {
    width: 500px;
    min-height: 184px;
    display: flex;
    justify-content: space-between;
    padding: 10px 15px;
    background-color: #fff;
    opacity: 0;
    transition: opacity 1s;
}

#painel-inferior div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

#painel-inferior div:nth-child(2):not(#lista-substituta) {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

#painel-inferior div:nth-child(2) div:not(#lista-substituta) {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

#palavra-lembrada {
    width: 100%;
}

#output-acertos {
    font-weight: bold;
    color: #059761;
    text-align: center;
    font-variant: small-caps;
}

#painel-inferior-direito div:first-child {
    position: relative;
}

#lista-substituta {
    visibility: hidden;
    height: 164px;
    border: 1px solid #999;
    width: 120px;
    overflow-y: auto;
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: column;       
    font-size: 13px;
    text-wrap: nowrap;
}

#lista-substituta[aria-disabled="true"] {
    border: 1px solid #ddd;    
}

#lista-substituta[aria-disabled="false"]:hover {
    border: 1px solid #777;
}

/*===============================================MEDIA QUERIES=====================================*/

@media (max-width: 353px) {
    #output-acertos {
        font-size: 12px;
    }
}

@media (min-width: 354px) and (max-width: 483px) {
    #output-acertos {
        font-size: 14px;
    }
}

@media (max-width: 384px) {
    label {
        font-size: 11px;
    }

    select:not(#lista-lembradas) {
        font-size: 11px;
        width: 85px;
        padding-left: 1px;
        padding-right: 0;
    }

    #painel-inferior button {
        height: 35px;
    }

    #lista-lembradas,
    #lista-substituta {
        width: 90px;
    }
}


@media (min-width: 385px) and (max-width: 432px) {
    select:not(#lista-lembradas) {
        width: 100px;
        padding-left: 2px;
        padding-right: 0;
    }

    #lista-lembradas,
    #lista-substituta {
        width: 100px;
    }
}


@media (min-width: 385px) and (max-width: 483px) {

    select:not(#lista-lembradas) {
        font-size: 13px;
    }

    label {
        font-size: 13px;
    }
}

@media (max-width: 483px) {
    #painel-inferior label {
        text-align: center;
    }
}

@media (min-width: 484px) and (max-width: 530px) {
    #painel-inferior label {
        font-size: 13px;
    }
}

@media (max-width: 530px) {

    #painel-central,
    #painel-inferior,
    #painel-palavras {
        width: 98%;
    }

    #painel-inferior {
        justify-content: space-evenly;
        gap: 10px;
    }
}